body{
	background-image:("https://cleantechnica.com/files/2015/10/electric-bus-USA.png");

}
.h1{
	text-align: center;
}

.div1{
 float:right;
 margin-right: 90px;
 margin-bottom:20px;

}
.image{
	width: 1000px;
	height: 600px;
	border: 5px solid-black;
}
.footer{
	text-align: center;
}
.par1{
	text-align: center;
	margin-right: 20px;
}
#h3{

}
.div2{
	text-align: : center;
}


