body{
	background-color: #F0F8FF;

}
.h1{
	text-align: center;
}

.container{
	padding:10px;

}
.image{
	width: 1200px;
	height: 400px;
	border: 1px;
	padding: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
}
.par1{
	column-count: 2;
	column-gap: 40px;
	column-rule:1px solid red;
	padding:10px;
}
.div2{
	float:right;
}
.right{
	float:right;

}

.imgcirlce{
	width: 500px;
	height: 300px;
	border-radius: 50%;

}



