body{
	background-color:#00CED1;
}
.h1{
	text-align: center;
}

.container{
	padding:10px;

}
.image{
	width: 1200px;
	height: 400px;
	border: 1px;
	padding: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}
.par1{
	column-count: 2;
	column-gap: 40px;
	column-rule:1px solid red;
	padding:10px;
}



