body{
	background-color:#F0FFFF;

}
.h1{
	text-align: center;
}

.container{
	padding:10px;

}
.image{
	width: 700px;
	height: 400px;
	border: 1px;
	padding: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.par1{
	column-count: 2;
	column-gap: 40px;
	column-rule:1px solid red;
	padding:10px;
}
.div2{
	float:right;
}
.right{
	float:right;

}
.right{
	font-size: 40px;
	color: red;
}
